<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>pl-PL</string>
    <key>CFBundleDisplayName</key>
    <string>Czytnik zegara 7-segmentowego</string>
    <key>CFBundleExecutable</key>
    <string>seg7-clock-reader</string>
    <key>CFBundleIdentifier</key>
    <string>dev.kpaliga.obs.seg7clock</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Czytnik zegara 7-segmentowego</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.2</string>
    <key>CFBundleVersion</key>
    <string>1.0.2</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
</dict>
</plist>
